{% extends "lay.html" %}

{% block title %}
Index
{% endblock %}


{% block nav %}
    {% if flag == 1 %}
    <div id="Lets_Code">
		<a style="text-decoration: none; color: white;" href="/add">
			<span>Add a course</span>
		</a>
	</div>
    {% endif %}

    <div id="index">
		<a style="text-decoration: none; color: white;" href="/">
			<span>Home</span>
		</a>
	</div>
    <div id="available">
		<a style="text-decoration: none; color: white;" href="/available">
			<span>Available Courses</span>
		</a>
	</div>
    <div id="logout">
		<a style="text-decoration: none; color: white;" href="/logout">
			<span>Log Out</span>
		</a>
	</div>

{% endblock %}


{% block main %}


    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-start">Course Name</th>
        </tr>
        </thead>
        <tbody>
        <form action="/" method="POST">
            <label for="clarinets">Available Courses:</label>
            <select name="clarinets" id="clarinets">


                {% for course in available_courses %}
                <option>{{course['course_name']}}</option>
                {% endfor %}

            </select>
            <button type="submit">Register</button>
        </form>


        {% for name in registered_courses %}
        <tr>
            <td>{{name['course_name']}}</td>
        </tr>
        {% endfor %}

        </tbody>

    </table>
    <footer>
        <form action="/" method="POST">
            <label for="unregister">Registered Courses:</label>
            <select name="unregister" id="unregister">


                {% for course in registered_courses %}
                <option>{{course['course_name']}}</option>
                {% endfor %}

            </select>
            <button type="submit">Unregister</button>
        </form>
    </footer>



{% endblock %}