{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block nav %}
    {% if flag == 1 %}
        <li class="nav-item"><a class="nav-link" href="/add">Add a course</a></li>
    {% endif %}

{% endblock %}

{% block main %}


<main class="container py-5 text-center">
    <label>
        <input autocomplete="off" autofocus placeholder="Search" type="search">
    </label>



    <script>

        let input = document.querySelector('input');
        input.addEventListener('input', async function () {
            let response = await fetch('/search?q=' + input.value);
            let shows = await response.text();
            document.querySelector('ul').innerHTML = shows;
        });



    </script>
    <h3>Registered Courses</h3>

    {% for name in registered_courses %}
    <div class="container">
        <div class="quote">
            <span> {{name['course_name']}}</span>
            <p> {{name['description']}}</p>
         </div>
    </div>
    {% endfor %}

    <footer>
        <form action="/" method="POST">
            <label for="unregister">Registered Courses:</label>
            <select name="unregister" id="unregister">


                {% for course in registered_courses %}
                <option>{{course['course_name']}}</option>
                {% endfor %}

            </select>
            <button type="submit">Unregister</button>
        </form>
    </footer>


</main>


{% endblock %}