<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="static/styles.css"/>
<script id="applicationScript" type="text/javascript" src="static/scripts.js"></script>
</head>
<body>
<div id="Web_1920__1">
	<div id="News_Item">
		<svg class="Bg">
			<rect id="Bg" rx="20" ry="20" x="0" y="0" width="511" height="756.564">
			</rect>
		</svg>
		<div id="Text">
			<div id="Bunch_of_components">
				<span>Create webpages using HTML, CSS, in Web Lab to share information and express your passions.</span>
			</div>
			<div id="Lyft_expands_tax-sav">
				<span>Web Development </span>
			</div>
		</div>
		<div id="Image">
			<img id="Mask" src="static/images/Mask.png" srcset="static/images/Mask.png 1x, static/images/Mask@2x.png 2x">

			<img id="Image_n" src="static/images/Image_n.png" srcset="static/images/Image_n.png 1x, static/images/Image_n@2x.png 2x">

			</svg>
		</div>
	</div>
	<svg class="Path_1" viewBox="0 0 1920 94">
		<path id="Path_1" d="M 0 0 L 1920 0 L 1920 94 L 0 94 L 0 0 Z">
		</path>
	</svg>
	<div id="The_Next_Coders_Society">
		<span>The Next Coder's Society</span>
	</div>
	<div id="Lets_Code">
		<span>Let's Code</span>
	</div>
	<div id="Sign_In">
		<span>Sign In</span>
	</div>
	<div id="Build_a_World_of_Code">
		<span>Build a World of Code</span>
	</div>

	<img id="kids_coding" src="static/images/kids_coding.png" srcset="static/images/kids_coding.png 1x, static/images/kids_coding@2x.png 2x">

	<svg class="Rectangle_2">
		<rect id="Rectangle_2" rx="0" ry="0" x="0" y="0" width="1920" height="986">
		</rect>
	</svg>
	<div id="code">
		<span>code</span>
	</div>
	<div id="Empowering_the_next_generation">
		<span>Empowering the </span><span style="font-style:normal;font-weight:bold;color:rgba(45,143,241,1);text-transform:uppercase;">next </span><span>generation with code.</span>
	</div>
	<div id="Our_Programs">
		<span>Our Programs</span>
	</div>
	<div id="At_the_Next_Coders_Society_we_">
		<span>At the Next Coders’ Society we offer a wide range of free programs, using code.org curriculum, to help you bring your ideas to life. This summer our course offerings include Web development, App, Games Development and Even AI. </span>
	</div>
	<div id="News_Item_z">
		<svg class="Bg_">
			<rect id="Bg_" rx="20" ry="20" x="0" y="0" width="511" height="756.564">
			</rect>
		</svg>
		<div id="Image_">
			<svg class="Mask_ba">
				<linearGradient id="Mask_ba" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
					<stop offset="0" stop-color="#123075" stop-opacity="0.051"></stop>
					<stop offset="1" stop-color="#092056" stop-opacity="1"></stop>
				</linearGradient>
				<rect id="Mask_ba" rx="5" ry="5" x="0" y="0" width="468.417" height="425.833">
				</rect>
			</svg>
			<img id="Image_ba" src="static/images/Image_ba.png" srcset="static/images/Image_ba.png 1x, static/images/Image_ba@2x.png 2x">

			</svg>
		</div>
	</div>
	<div id="News_Item_">
		<svg class="Bg_ba">
			<rect id="Bg_ba" rx="20" ry="20" x="0" y="0" width="511" height="756.564">
			</rect>
		</svg>
		<div id="Image_bb">
			<svg class="Mask_bc">
				<linearGradient id="Mask_bc" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
					<stop offset="0" stop-color="#123075" stop-opacity="1"></stop>
					<stop offset="1" stop-color="#092056" stop-opacity="1"></stop>
				</linearGradient>
				<rect id="Mask_bc" rx="5" ry="5" x="0" y="0" width="468.417" height="425.833">
				</rect>
			</svg>
			<img id="Image_bc" src="static/images/Image_bc.png" srcset="static/images/Image_bc.png 1x, static/images/Image_bc@2x.png 2x">

			</svg>
		</div>
	</div>
	<div id="Text_bb">
		<div id="Bunch_of_components_bc">
			<span>Learn  how to make Web apps with Javascript in App lab</span>
		</div>
		<div id="Lyft_expands_tax-sav_bd">
			<span>App Development</span>
		</div>
		<div id="Bunch_of_components_be">
			<span>program games, animations, and make interactive art in game Lab<br/> </span>
		</div>
		<div id="Lyft_expands_tax-sav_bf">
			<span>Game Development</span>
		</div>
	</div>
<!--	<svg class="Rectangle_3">-->
<!--		<rect id="Rectangle_3" rx="30" ry="30" x="0" y="0" width="374" height="114">-->
<!--		</rect>-->
<!--	</svg>-->
	<div  id="Register_Now">
		<button class="button-18" role="button" onclick="window.location.href='/register';">Register</button>
	</div>
	<svg class="Path_2" viewBox="0 730 1 1">
		<path id="Path_2" d="M 0 730 L 0 730 Z">
		</path>
	</svg>
	<div id="Why_Code_">
		<span>Why Code</span><br/>
	</div>
	<svg class="Path_3" viewBox="0 0 1920 3603.2">
		<path id="Path_3" d="M 0 0 L 970.2714233398438 0 L 1920 0 L 1920 3603.200439453125 L 0 3603.200439453125 L 0 0 Z">
		</path>
	</svg>
	<div id="Why_Code">
		<span>Why Code</span>
	</div>
	<div id="Have_you_ever_wondered_how_the">
		<span>Have you ever wondered how the game Flappy bird was made? How about websites like Google or Facebook? Perhaps other apps on your phone like a calculator or maybe instagram? Whether or not you have an idea how to make any of these projects, you could probably guess that the people who did knew how to code. That is the beautiful thing about programming.</span><span style="font-style:normal;font-weight:bold;">  If you can think of it, you can probably code it! <br/></span><br/><span>There are many other reasons why coding is useful</span><br/>
	</div>
	<svg class="Rectangle_4">
		<rect id="Rectangle_4" rx="0" ry="0" x="0" y="0" width="1599" height="859">
		</rect>
	</svg>
	<img id="problem_solving" src="static/problem_solving.png" srcset="static/problem_solving.png 1x, static/problem_solving@2x.png 2x">

	<svg class="Rectangle_6">
		<rect id="Rectangle_6" rx="0" ry="0" x="0" y="0" width="1599" height="859">
		</rect>
	</svg>
	<svg class="Rectangle_7">
		<rect id="Rectangle_7" rx="0" ry="0" x="0" y="0" width="656" height="656">
		</rect>
	</svg>
	<svg class="Rectangle_8">
		<rect id="Rectangle_8" rx="0" ry="0" x="0" y="0" width="1599" height="859">
		</rect>
	</svg>
	<img id="future_job" src="static/images/future_job.png" srcset="static/images/future_job.png 1x, static/images/future_job@2x.png 2x">

	<div id="Learn_How_to_Think_">
		<span>Learn How to Think </span>
	</div>
	<div id="Everybody_in_this_country_shou">
		<span>“Everybody in this country should learn how to program a computer, because it teaches you how to think.” — Steve Jobs<br/><br/>Indeed, research has shown that students who learn how to code early on perform better coding  tasks and other cognitive skills, such as creative thinking, mathematical skills, metacognition, and reasoning</span><br/><span style="font-size:36px;"></span><br/>
	</div>
	<div id="Secure_Job_Opportunities">
		<span>Secure Job Opportunities</span>
	</div>
	<div id="n_According_to_the_United_Stat">
		<span> According to the United States Bureau of Labor Statistics, the median annual wage for jobs in technology was $97,430 in May 2021, which is more than twice the median annual wage ($45,760) overall. <br/><br/>Additionally, employment in this field is expected to grow 15% over the next 10 years, exceeding the national average.</span>
	</div>
	<svg class="Rectangle_10">
		<rect id="Rectangle_10" rx="0" ry="0" x="0" y="0" width="1599" height="859">
		</rect>
	</svg>
	<img id="collaboration" src="static/images/collaboration.png" srcset="static/images/collaboration.png 1x, static/images/collaboration@2x.png 2x">

	<div id="Join_a_community_of_creators">
		<span>Join a community of creators</span>
	</div>
	<div id="Sharing_is_a_big_part_of_the_c">
		<span>Sharing is a big part of the coding process. By sharing your creations with friends and family, you can  reinforces what you have learned and gain confidence. <br/><br/>Additionally, you can meet programmers from around the world by asking questions, collaborating on projects, and uploading your creations for the world to enjoy!</span>
	</div>
	<div id="Build_a_world_of_code">
		<span>Build a world of code</span>
	</div>
	<div id="Community_is_at_heart_of_value">
		<span>Community is at heart of values we uphold at the next coders' society. That's why one of our biggest aims is to create local leaders for computer science education. Last year, we trained more than forty leaders around the country on cs advocacy, impacting more than six hundred students through coding workshops and activities. Join the impact and #BuildAWorldOfCode</span>
	</div>

	<div id="Apply_Now">
		<button class="button-18" role="button" onclick="window.location.href='https://docs.google.com/forms/d/e/1FAIpQLScAi5Yy7vCVD6w9a-qGLF29DHh90syWGoHobDTqytxAL9r-7Q/viewform';">Apply Now</button>
	</div>
	<div id="Why__Code">
		<span>Why  Code</span>
	</div>
	<img id="Tech_Leaders" src="static/images/Tech_Leaders.png" srcset="static/images/Tech_Leaders.png 1x, static/images/Tech_Leaders@2x.png 2x">

	<div id="Besides_becoming_a_role_model_">
		<span>Besides becoming a role model yourself, you can also interact with and learn from young professionals and experts in tech whom we host on our platform. Check out some of our popular past events.</span>
	</div>
	<img id="event_1" src="static/images/event_1.png" srcset="static/images/event_1.png 1x, static/images/event_1@2x.png 2x">

	<a href="https://www.facebook.com/watch/?extid=CL-UNK-UNK-UNK-IOS_GK0T-GK1C&mibextid=2Rb1fB&v=752136266112493"><img id="event_2" src="static/images/event_2.png" srcset="static/event_2.png 1x, static/event_2@2x.png 2x"></a>

	<a href="https://www.facebook.com/watch/?extid=CL-UNK-UNK-UNK-IOS_GK0T-GK1C&mibextid=2Rb1fB&v=712155870011350"><img id="event_3" src="static/images/event_3.png" srcset="static/event_3.png 1x, static/event_3@2x.png 2x"></a>

	<svg class="Path_4" viewBox="0 0 1920 186">
		<path id="Path_4" d="M 0 0 L 1920 0 L 1920 186 L 0 186 L 0 0 Z">
		</path>
	</svg>
	<div id="The_Next_Coders_Society_cc">
		<span>The Next Coder's Society</span>
	</div>
</div>
</body>
</html>